/* #region utility */

:root {
    --azure: #8EDAFC;
    --selected: #E9EBEB;
    --back: #EAEAEA;
    --chat-footer: #F3EEEA;
    --sent: #D5F9BA;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
}

.contacts {
    width: 40%;
    background: white;
    border-right: .1px solid rgb(128, 128, 128, 0.2);
}

.chat {
    width: 60%;
}

.contacts,
.chat {
    margin: 1rem 0;
}

.my-container {
    max-width: 90%;
    margin: auto;
}

p {
    margin: 0 !important;
}

.show {
    display: flex;
}

.not-show {
    display: none;
}

/* #endregion utility */


/* #region contacts */

.header-top {
    height: 9vh;
    padding: 0 1rem;
    background-color: var(--back);
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 .5rem 0 .5rem;
}

.icons i {
    padding: 0 .6rem;
    color: grey;
}

.header-main {
    background-color: var(--azure);
    padding: 1rem 0;
}

.header-main i {
    scale: 1.3;
    top: 30%;
    left: 13px;
    position: absolute;
    color: var(--azure);
}

.icon-bell {
    background-color: white;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    margin-left: 1.7rem;
}

.header-main .text {
    padding-left: 1.5rem;
}

.search {
    background-color: var(--back);
    color: grey;
    padding: 1rem;
}

.search i {
    border-right: 1px solid var(--back);
    padding-right: 1rem;
    background-color: white;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.contact-main {
    height: 70vh;
    width: 100%;
    overflow: auto;
}

/* #endregion contacts */

/* #region chat */

.chat {
    background-color: var(--back);
}

.user-text p {
    font-size: small;
    color: grey;
}

.chat .icons {
    margin-right: 1rem;
}

.chat-header-top {
    height: 9vh;
    border-left: 1.5px solid rgb(128, 128, 128, 0.2);
}

.chat-main {
    background-image: url("../img/mine.jpg");
    height: 78vh;
    overflow: auto;
}

.chat-footer {
    background-color: var(--back);
    height: 8vh;
    padding: 0 1rem 0 1rem;
}

.chat-footer i {
    scale: 1.5;
    padding: 0 2rem;
    color: grey;
}

.write {
    background-color: white;
    width: 80%;
    text-align: left;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.contact {
    margin: 1rem 0;
    padding: .5rem 0;
    border-top: .1px solid rgb(128, 128, 128, 0.2);
    background: white;
}

.contact:hover {
    cursor: pointer;
    background-color: rgb(232, 234, 236);
}

.user-img {
    width: 50px;
    border-radius: 50%;
    margin: 0 1rem;
}

.messages {
    padding: 1rem;
    border-radius: .3rem;
    margin-top: .5rem;
}

.green {
    background-color: var(--sent);
    align-self: flex-end;
    font-size: small;
}

.white {
    background-color: white;
    align-self: flex-start;
    font-size: small;
}

input {
    width: 100%;
    border: none;
    outline: 0;
}

/* #endregion chat */